.layout{
  margin: 0 auto;
  width: 1000px;
  min-height: 150vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.content {
  border-left: 1px solid #ebeef0;
  border-right: 1px solid #ebeef0;
}

.logo {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 700px){
  .layout {
    width: 100%;
    grid-template-columns: 88px 1fr;
  }
}